:root {
    --primary-color: #3498db;  /* Azul */
    --secondary-color: #95a5a6;  /* Cinza */
    --accent-color: #2ecc71;  /* Verde */
    --gray-color: #b4b8b8; /*cinza meu*/
  }
  
  .custom-background {
    background-image: url(images/bg-gray.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  
}
  
  .title {
    font-size: 44px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 40px;
    margin-top: 5%;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -110px;
    left: 10px;
  }
  
  .add-button,
  .delete-product-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  
  .delete-product-btn {
    background-color: var(--secondary-color);
  }
  
  .card-container {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 280px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1.5);
    border: none; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4 ); /* Ajustar a sombra */
    transform: translateY(100px);
    animation-name: slideIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .custom-card-header {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  
  .card-header .delete-checkbox {
    margin-right: 5px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-content span {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .card-content p {
    color: var(--secondary-color);
  }
  
  .footer {
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
    font-size: 6px;
    color: var(--secondary-color);
  }
    
  body {
      display: flex;
      flex-direction: column;
  }
  
  .list-button,
  .cancel-product-btn {
    padding: 1px 15px 1px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 35px;
  }
  
  .cancel-product-btn {
    background-color: var(--secondary-color);
  }
  
  .opcoes {
    font-size: 16px;
    color: var(--secondary-color);
  }
  
  .error-message {
    color: red;
    font-style: italic;
  }
  
  .form label {
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

  }
  
  .form input,
  .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 25px;
  }
  
  .opcoes {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: #fff;
    color: var(--secondary-color);
    font-size: 20px;
  }
  
  .opcoes option {
    color: var(--secondary-color);
  }

  .label-forniture {
    margin-left: 10px; 
  }

  .info-label{
    color: red;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    text-decoration: none ;
    margin-top: -25px;
  }

  .title-list{
      font-size: 44px;
      font-weight: bold;
      color: var(--primary-color);
      margin-bottom: 20px;
      margin-top: 60px;
      margin-left: 5%;
  }

  .button-container-list {
      display: flex;
      justify-content: flex-end;
      position: block;
      margin-bottom: -120px;
      margin-top: 20px;
      margin-right: 5%;
  }


  @media (max-width: 1000px) {
    .container {
      height: 60vh;
    }
  }

